# =============================
# Node Modules
# =============================
node_modules/

# =============================
# Build Output
# =============================
public/build/

# =============================
# System Files
# =============================
.DS_Store
Thumbs.db

# =============================
# Logs
# =============================
npm-debug.log*

# =============================
# Env Files (if added)
# =============================
.env
.env.local

.idea/

